<div class="card m-4">
  <div class="card-header"><h5>{{produit.title}}</h5></div>
  <div class="card-body">
        <img src="{{produit.images[0]}}">
        <p>description : {{produit.description}}</p>
        <p>price : {{produit.price}}</p>
        <p>discoutn pourcentage{{produit.discountPercentage}}</p>
        <p>score : {{produit.rating}}</p>
        <p>stock : {{produit.stock}}</p>
        <p>marque : {{produit.brand}}</p>
        <p>catégorie : {{produit.category}}</p>
  </div>
</div>
