<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      EMIShop
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="smartphones">Smartphones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="laptops">Laptops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="fragrances">Fragrances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="skincare">skincare</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="groceries">groceries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="furniture">furniture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="tops">tops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="womens-dresses">womens-dresses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="womens-shoes">womens-shoes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="mens-shirts">mens-shirts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="mens-shoes">mens-shoes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="mens-watches">mens-watches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="motorcycle">motorcycle</a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-decoration-none" routerLink='login' data-target="#myModal" data-toggle="modal">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
